* {
    box-sizing: border-box;
    font-family: 'Gilroy';
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: white;
}

body {
    margin: 0;
    background-color: black;
}

/* header */
.header-container__pictures {
    margin: 25px 25px 0 25px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__pictures {
    position: relative;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
}

.title__pictures::before {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    top: calc(50% - 30px);
    left: -13px;
    border: 1px solid white;
    border-radius: 50%;
 }

 .title__pictures::after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    top: calc(50% - 30px);
    left: 18px;
    border: 1px solid white;
    border-radius: 50%;
 }

 /* main */
 .main-container__pictures {
    margin: 0 16px;
 }

 .categories-title__pictures {
     margin: 28px 0 50px;
    font-size: 2em;
    line-height: 28px;
 }

 .categories__pictures {
     display: flex;
     flex-direction: column;
     column-gap: 8px;
     flex-wrap: wrap;
     height: 1200px;
 }

 .categories-item__pictures {
     width: 160px;
     height: 200px;
 }

.item-title-container__pictures {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-img__pictures {
    width: 100%;
    height: 170px;
    border-radius: 20px;
}

 /* footer */

 .footer-container__pictures {
    position: fixed;
    display: flex;
    bottom: 0%;
    width: 100%;
    height: 10vh;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px 20px 0px 0px;
    background-color: black;
 }

 .footer-info__pictures {
    width: 100%;
    margin: 0 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .footer-button__pictures {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-decoration: none;
 }

 @media (min-width:560px) {
    .categories__pictures {
        display: flex;
        column-gap: 80px;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        height: 100%;
        margin: 0 70px;
    }
    .categories-title__pictures {
        margin: 28px 70px 50px;
    }
    .item-img__pictures {
        width: 195px;
        height: 205px;
    }
    .categories-item__pictures {
        width: 195px;
        height: 235px;
    }
 }